# Backend
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=app
POSTGRES_PORT=5432
POSTGRES_HOST=db
SECRET_KEY=CHANGE_ME_TO_A_LONG_RANDOM_SECRET

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000